/* 
	Student Name: Jacob Allison
	Date: 03/16/2022
	File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, ul, article, figure, figcaption {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Setting header styling */
header {
	padding: 1em;
	font-family: "Sawarabi Mincho", Arial;
	text-shadow: 5px 5px 5px rgba(100, 100, 90);
}

/* Setting background color for website */
body {
	background-color: #CC8D0B;
}

/* Main content styling */
main p{
	font-size: 1.25em;
}

.map {
	display: block;
	max-width: 75%;
	padding: 3em;
}

.contact {
	color: #00B7EB;
	text-decoration: none;
}

.contact:hover {
	color: #1034A6;
}


/* Media Styling for Mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
	
	/* Mobile navigation content */
	nav {
	font-family: Arial, sans-serif;
	background-color: #4A90E2;
	border: 5px solid #CC8D0B;
	margin-bottom: 1%;
	clear: right;
	border-radius: 2em;
	padding: 5px;
	}

	nav ul {
	list-style-type: none;
	text-align: center;
	
	}

	nav li {
	font-size: 1.75em;
	padding: 0.5em 1em; 
	text-decoration: none;
	border-bottom: 5px solid #CC8D0B;
	border-top: 5px solid #CC8D0B;
	}
	
	#techlead, #engineer {
		float: left;
		padding: 1em;
	}
	
	figcaption {
		text-align: center;
		padding: 10px;
		max-width: 92%;
		background: rgba(0, 0, 0, 0.5);
		position: relative;
		bottom: 70px;
		color: #fff;
	}
	
	.grid {
		display: grid;
		grid-template-columns: auto auto;
	}
	
	table {
		border: 1px solid #000;
		border-collapse: collapse;
		margin: 0 auto;
		width: 100%;
	}
	
	th, td {
		border: 1px solid #000;
		border-collapse: collapse;
		margin: 0 auto;
		text-align: center;
	}
	
	th {
		background-color: #f4b738;
	}
	
	td {
		background-color: #53a0fa;
	}
	
	caption {
		font-weight: bold;
		font-size: 1.25em;
		padding-bottom: 5px;
	}
	
	form {
		width: 50%;
	}
	
	#submit {
		margin-top: 10px;
	}
}


/* Media Styling for Tablet & Desktop */
@media screen and (min-width: 769px) {
	#techlead {
		float: left;
		padding: 1em;
	}

	#engineer {
		float: right;
		margin: 1em 5em;
		padding: 0.1em; 
	}

	nav {
		font-family: Arial, sans-serif;
		background-color: #4A90E2;
		margin-bottom: 1%;
		clear: right;
	}

	nav ul {
		list-style-type: none;
		text-align: center;
	}

	nav li {
		font-size: 1.75em;
		padding: 0.5em 1em; 
		text-decoration: none;
		border-bottom: 5px solid #CC8D0B;
		border-top: 5px solid #CC8D0B;
	}

	nav li a {
		text-decoration: none;
	}
	
	figure {
		float: right;
		max-width: 75%;
		display: block;
		padding: 3em;
	}
	
	figcaption {
		text-align: center;
		padding: 10px;
		background: rgba(0, 0, 0, 0.5);
		position: relative;
		bottom: 70px;
		color: #fff;
		padding: 5px;
		text-shadow: 5px 5px 5px #4A90E2;
	}
	
	table {
		border: 1px solid #000;
		border-collapse: collapse;
		margin: 0 auto;
		width: 100%;
	}
	
	th, td {
		border: 1px solid #000;
		border-collapse: collapse;
		margin: 0 auto;
		text-align: center;
	}
	
	caption {
		font-weight: bold;
		font-size: 1.25em;
		padding-bottom: 5px;
	}
	th {
		background-color: #f4b738;
	}
	
	td {
		background-color: #53a0fa;
	}
	
	legend {
		font-weight: bold;
	}
	
	input {
		margin: 5px;
		padding: 5px;
	}
	
	#submit {
		margin-top: 10px;
	}
}

/* Footer styling */
footer {
	clear: left;
}

footer a{
	text-decoration: none;
}