/* 
	Student Name: Jacob Allison
	Date: 02/09/2022
	File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Setting image style rules */
img {
	float: right;
	max-width: 75%;
	display: block;
	padding: 3em;
	
}

/* Setting header styling */
header {
	padding: 1em;
	font-family: "Sawarabi Mincho", Arial;
}

/* Setting background color for website */
body {
	background-color: #CC8D0B;
}

/* Setting navigation style rules */
nav {
	font-family: Arial, sans-serif;
	background-color: #4A90E2;
	border: 5px solid #CC8D0B;
	margin-bottom: 1%;
	clear: right;
	border-radius: 2em;
	padding: 5px;
}

nav ul {
	list-style-type: none;
	text-align: center;
	
}

nav li {
	font-size: 1.75em;
	padding: 0.5em 1em; 
	text-decoration: none;
	border-bottom: 5px solid #CC8D0B;
	border-top: 5px solid #CC8D0B;
}

nav li a {
	text-decoration: none;
}

/* Main content styling */
main p{
	font-size: 1.25em;
}

#techlead, #engineer {
	float: left;
	padding: 1em;
}

#engineer {
	/* float: right;
	margin: 1em 5em;
	padding: 0.1em; */
} 

.map {
	display: block;
	/* margin: 3em; */
	max-width: 75%;
	padding: 3em;
}

.contact {
	color: #00B7EB;
	text-decoration: none;
}

/* Footer styling */
footer {
	clear: left;
}

footer a{
	text-decoration: none;
}